.divar_Icon {
  margin-left: 16px;
  width: 40px;
}

.button_icons {
  width: 15px;
  margin-left: 8px;
}

.search_box_container {
  display: block;
}

.city_btn {
  display: flex;
}

@media (min-width: 300px) and (max-width: 410px) {
  .divar_Icon {
    margin-left: 8px;
  }
  .button_icons {
    display: none;
  }
  .my_divar_btn {
    width: 104px;
    margin-left: 5px;
  }
  .post_btn {
    width: 104px;
  }
}

@media (min-width: 300px) and (max-width: 490px) {
  .city_btn {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 730px) {
  .search_box_container {
    display: none;
  }
}
