.divar_Icon {
  margin-left: 16px;
  width: 40px;
}

.button_icons {
  width: 15px;
  margin-left: 8px;
}

.search_container {
  width: 350px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
}
.search_input {
  width: 100%;
  padding: 3px;
  background-color: inherit;
}

@media (max-width: 830px) {
  .search_container {
    width: 300px;
  }
}
@media (max-width: 780px) {
  .search_container {
    width: 250px;
  }
}
/*@media (max-width: 730px) {
  .search_container {
    width: 200px;
  }
}
@media (max-width: 685px) {
  .search_container {
    display: none;
  }
} */
