.rating_container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 300px) and (max-width: 410px) {
  .rating_container {
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .rating {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
